<h1>Listing todos</h1>

<table>
  <tr>
    <th>Limit</th>
    <th>Title</th>
    <th>Detail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @todos.each do |todo| %>
  <tr>
    <td><%= todo.limit %></td>
    <td><%= todo.title %></td>
    <td><%= todo.detail %></td>
    <td><%= link_to 'Show', todo %></td>
    <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
    <td><%= link_to 'Destroy', todo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Todo', new_todo_path %>
